[maintenance]
	repo = /Users/mitchellciupak/Documents/calomodoro

[user]
    name = mitchellciupak
    email = mjcre23@gmail.com

[alias]
    # Shortcuts for common Git commands
    co = checkout
    ci = commit
    st = status
    br = branch
    df = diff
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	fpush = push

[core]
    # Set default editor to Vim
    editor = vim
    # Set default merge tool (change to your preferred merge tool)
    mergeTool = vimdiff
    # Set autocrlf to false if you're working on Unix-based systems
    autocrlf = input

[push]
    # Push only the current branch to its upstream
    default = current

[color]
    # Enable colorization of output
    ui = auto

[credential]
    # Enable credential caching for 1 hour (3600 seconds)
    helper = cache --timeout=3600

[diff]
    # Use patience algorithm for better diff readability
    algorithm = patience

[merge]
    # Use patience algorithm for merges
    patience = true

[fetch]
    # Prune remote branches that no longer exist on the remote
    prune = true

[rebase]
    # Preserve merge commits during rebase
    preserve = merges

[rerere]
    # Enable reuse recorded resolution to avoid repeated conflict resolution
    enabled = true
	autoUpdate = true

[init]
    # Use default Git template for new repositories
    defaultBranch = main